
<h1 class="page-header" style="margin-top: 0;">Menu List</h1>
<a class="btn btn-link" href="/dashboard/menu/add">
	<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
	Add Menu
</a>



<form action="/action/menudelete/" method="post">
	{% csrf_token %}
	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th>Menu Name</th>
	        <th>Type</th>
	        <th>Parent</th>
	        <th>Key</th>
	        <th>Url</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for item in menulist %}
	    	{% if item.editflag != 2 %}
        	<tr>
        		<td><input type="checkbox" value="{{ item.id }}" name="checkItem" /></td>
      			<td>{{ item.no }}</td>
      			<td>{{ item.name }}</td>
      			<td>{{ item.type }}</td>
      			<td>{{ item.parent }}</td>
      			<td>{{ item.key }}</td>
      			<td>{{ item.url }}</td>
      		</tr>
      		{% endif %}
	        {% endfor %}
	    </tbody>
	  </table>
	</div>
	
	<div class="submit">
      <button class="btn btn-primary btn-sm" type="submit">Delete</button>
    </div>
</form>
<BR/>
<form action="/action/menuapply/" method="post">
	{% csrf_token %}
	{% if editcount != 0 %}
		<button class="btn btn-primary" type="submit" name="apply">Apply</button>
		<button class="btn btn-primary" type="submit" name="cancel">Cancel</button>
	{% else %}
		<button class="btn btn-default" type="submit" name="apply" disabled="disabled">Apply</button>
		<button class="btn btn-default" type="submit" name="cancel" disabled="disabled">Cancel</button>
	{% endif %}
</from>
<script>
$(function(){

    function initTableCheckbox() {  
        var $thr = $('table thead tr');  
        var $checkAllTh = $('<th><input type="checkbox" id="checkAll" name="checkAll" /></th>');  
        $thr.prepend($checkAllTh);  
        var $checkAll = $thr.find('input');  
        $checkAll.click(function(event){  
            $tbr.find('input').prop('checked',$(this).prop('checked'));  
            if ($(this).prop('checked')) {  
                $tbr.find('input').parent().parent().addClass('warning');  
            } else{  
                $tbr.find('input').parent().parent().removeClass('warning');  
            }  
            event.stopPropagation();  
        });  
        $checkAllTh.click(function(){  
            $(this).find('input').click();  
        });  
        var $tbr = $('table tbody tr');  
        //var $checkItemTd = $('<td><input type="checkbox" name="checkItem" /></td>');  
        //$tbr.prepend($checkItemTd);  
        $tbr.find('input').click(function(event){  
            $(this).parent().parent().toggleClass('warning');  
            $checkAll.prop('checked',$tbr.find('input:checked').length == $tbr.length ? true : false);  
            event.stopPropagation();  
        });  
        $tbr.click(function(){  
            $(this).find('input').click();  
        });  
    }  
    
	function sidebarClick() {
		$('.active').removeClass('active');
		$('#menu_list').addClass('active');		
	}

	sidebarClick();

    initTableCheckbox();  
});  
</script>