<h1 class="page-header" style="margin-top: 0;">Public Wechat Service List</h1>

	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Public Wechat Service Name</th>
	        <th>Appid</th>
	        <th>secret</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	      	<td>{{ projectinfos.projectname }}</td>
	      	<td>{{ projectinfos.appid }}</td>
	      	<td>{{ projectinfos.secret }}</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	
<script>
$(function(){ 
	function sidebarClick() {
		$('.active').removeClass('active');
		$('#overview').addClass('active');		
	}
	
	sidebarClick();
});
</script>