
<h1 class="page-header" style="margin-top: 0;">User List</h1>
<a class="btn btn-link" href="/dashboard/user/add">
	<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
	Add User
</a>



<form action="/action/deleteuserlist/" method="post">
	{% csrf_token %}
	<div class="table-responsive">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>#</th>
	        <th>User Name</th>
	        <th>Mail Address</th>
	        <th>User Role</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for item in userlist %}
			      <tr>
			      	{% if request.session.userinfo.mailaddress != item.mailaddress %}
			      		<td><input type="checkbox" value="{{ item.id }},{{ item.updatedate }}" name="checkItem" /></td>
			      	{% else %}
			      		<td>&nbsp;</td>
			      	{% endif %}
			      	<td>{{ item.no }}</td>
			      	<td><a href="/dashboard/user/add">{{ item.username }}</a></td>
			      	<td>{{ item.mailaddress }}</td>
			      	<td>{{ item.rolename }}</td>
			      </tr>
			 {% endfor %}
	    </tbody>
	  </table>
	</div>
	
	<div class="submit">
      <button class="btn btn-primary" type="submit">Delete</button>
    </div>
</form>
<script>  
$(function(){  
    function initTableCheckbox() {  
        var $thr = $('table thead tr');  
        var $checkAllTh = $('<th><input type="checkbox" id="checkAll" name="checkAll" /></th>');  
        $thr.prepend($checkAllTh);  
        var $checkAll = $thr.find('input');  
        $checkAll.click(function(event){  
            $tbr.find('input').prop('checked',$(this).prop('checked'));  
            if ($(this).prop('checked')) {  
                $tbr.find('input').parent().parent().addClass('warning');  
            } else{  
                $tbr.find('input').parent().parent().removeClass('warning');  
            }  
            event.stopPropagation();  
        });  
        $checkAllTh.click(function(){  
            $(this).find('input').click();  
        });  
        var $tbr = $('table tbody tr');  
        //var $checkItemTd = $('<td><input type="checkbox" name="checkItem" /></td>');  
        //$tbr.prepend($checkItemTd);  
        $tbr.find('input').click(function(event){  
            $(this).parent().parent().toggleClass('warning');  
            $checkAll.prop('checked',$tbr.find('input:checked').length == ($tbr.length - 1) ? true : false);  
            event.stopPropagation();  
        });  
        $tbr.click(function(){  
            $(this).find('input').click();  
        });  
    }  
    
	function sidebarClick() {
		$('.active').removeClass('active');
		$('#user_list').addClass('active');		
	}
	
	sidebarClick();
    
    initTableCheckbox();  
});  
</script>